
:root {
  --border-width: 2px;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.level12Container {
  position: static;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding-top: 100px;
}

.header{
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: column;
}

.txtsenter{
  display: flex;
  justify-content: center;
}

.addbutton{
   width: 250px;
  height: 50px; 
  border-radius: 100px / 80px;
  border: 4px double black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.dynamicInput{
  width: 250px;
  height: 50px; 
  border-radius: 100px / 80px;
  border: 2px double black;
   justify-content: center;
  align-items: center;
}