.itemContainer {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.itemButton {
  padding: 10px 50px;
  font-size: 1rem;
  background-color: #f0f0f0;
  border: 2px solid #ccc;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.itemButton:hover {
  background-color: #ddd;
}
